{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/splash.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>I Build Stuff.</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Ethan Yegudin
          </div>
          <div class="col-sm-4 text-pad">
            placeholder@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            Silicon Valley
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student passionate about learning new things and coding</p>
        <p>creating stuff that may interest you.</p>
        <p>Intrigued by design, computers, photography, coding, and always learning more.</p>
        <p>Check out what I've accomplished so far.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Elite Prep Web-App Class
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Feb 2021 - May 2021
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>A class where we learned about web-app development</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I learned how to make a website</li>
                <li class="sub-li">Buit chatrooms</li>
                <li class="sub-li">Got firsthand expirence in html, Python, and Javascript</li>
                <li class="main-li">I built this very site here!</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Principles of Engineering
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019 - Jun 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>A class I took in school about engineering</p>
              <p>We learned lots about engineering and robotics</p>
              <ul>
                <li class="main-li">I built an elevator concept</li>
                <li class="sub-li">Using robotics parts we built the elevator</li>
                <li class="sub-li">I then wrote the code telling the elevator how to operate</li>
                <li class="main-li">This taught me to think deeper about the code I write, and about things like fail-safes</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Principles of Computer Science
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2021 - Jun 2022
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>A class I took at school that taught me the basics of computer science</p>
              <p>In this class I learned much of programing basics</p>
              <ul>
                <li class="main-li">We mostly worked with Javascript</li>
                <li class="sub-li">Group project expirence</li>
                <li class="sub-li">Helped me get comfortable programing</li>
                <li class="main-li">Exposed me to many new programing things</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Python Summer Course
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Jun 2018
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Got expirence with Python</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">Learned the basics of Python</li>
                <li class="sub-li">Got real expirence working with other people</li>
                <li class="main-li">Expirenced a programing work enviromnent</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Online Coding Class
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Jan 2021 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Learned a wide variety of programing</p>
              <p>From html to JS and Python</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">How to build a site with html</li>
                <li class="sub-li">The basics of Javascript</li>
                <li class="main-li">Always more to learn online</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              Award 1
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              From this org
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Certification
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              What this certification is about
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Honor
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Here's what I did
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/IMG_3200.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Me</h3>
            <p class="content-text">A photo of what I look like</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/interest-1.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/IMG_0468.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Setup</h3>
            <p class="content-text">I really like computers, this is my current setup</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/IMG_3909.JPG">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">San Jose</h3>
            <p class="content-text">Located in the Heart of Silicon Valley</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">myemail@gmail.com</span>
        </div>
        <div>
          <a href="https://www.linkedin.com/">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">linkedin.com/myprofile</span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@myhandle</span>
          </a>
        </div>
        <div>
          <a href="https://github.com/Yegudin">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/Yegudin</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
